

body {
    --text-color : rgba(6, 33, 77, 1);
    --primary-color : #035F9E;
    --layout-color : #F3F8FC;
    --bg-color : #FFF;
    --bg-color : #FFF;
    --card-shadow : 0 5px 40px #DEDEDE;
    --default-svg-color : brightness(0) saturate(100%) invert(15%) sepia(43%) saturate(1508%) hue-rotate(184deg) brightness(87%) contrast(106%);
    --search-box-bg : #d7e7ff;
    --base-transition : color .3s linear,background-color .3s linear,filter .3s linear,box-shadow .3s linear;
    --border-color : rgba(0,0,0,.3);
    --font-size-sm : 12px;
    --font-size-md : 14px;
}
body.dark-mode {
    --layout-color : #131720;
    --bg-color : #151f30;
    --text-color : rgb(205, 207, 210);
    --card-shadow : 0 5px 40px transparent;
    --default-svg-color : brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(1264%) hue-rotate(184deg) brightness(85%) contrast(89%);;
    --search-box-bg :#151f30;
    --border-color : rgba(255,255,255,.2);
}

@media screen and (max-width:1280px) {
    body {
        --font-size-sm : 10px;
        --font-size-md : 12px;
    }
}